.lead__title {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
    max-width: 720px;
    margin: 0 auto;
    padding: 56px 0 0 0;
    display: block;

}

@media screen and (max-width: 1024px) {
    .lead__title {
        padding-left: 35px;
        padding-top: 50px;

    }

}

@media screen and (max-width: 768px) {
    .lead__title {        
        padding-left: 24px;
        padding-right: 24px;

    }
    
}

@media screen and (max-width: 767px) {
    .lead__title {
        padding-top: 35px;
        padding-left: 16px;
        padding-right: 16px;
        font-size: 40px;
        line-height: 44px;

    }
    
}