.intro__text {
    max-width: 690px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
    margin: 0;
    margin-top: 40px;
   

}

@media screen and (max-width: 1279px) {
    .intro__text {
        margin-bottom: 0;

    }

}

@media screen and (max-width: 1023px) {
    .intro__text {
        max-width: 720px;
        margin-bottom: 36px;

    }

}

@media (max-width: 767px) {
    .intro__text {        
        padding-left: 16px;
        padding-right: 16px;

    }

}