.intro {
    max-width: 690px;
    padding: 0;
    padding-left: 148px;
    margin: 0;
    margin-top: 92px;
    margin-bottom: 92px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 37px;
}

@media screen and (max-width: 1024px) {
    .intro {
        padding-left: 48px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        padding-left: 24px;
        padding-right: 24px;
        max-width: 720px;
        margin-top: 110px;

    }
}

@media (max-width: 320px) {
    .intro {
        max-width: 288px;
        padding-left: 16px;
        padding-right: 16px;
        margin-top: 64px;
        margin-bottom: 64px;
    }
}

