.intro {
    max-width: 690px;
    width: 100%;
    
    padding: 92px 0 0 148px;      
    

}

@media screen and (max-width: 1279px) {
    .intro {
        padding-left: 48px;

    }

}

@media screen and (max-width: 1023px) {
    .intro {
        padding-left: 24px;
        padding-right: 24px;
        /*max-width: 720px;*/
        margin-top: 110px;

    }

}

@media (max-width: 767px) {
    .intro {
        /* max-width: 288px; */
        padding-left: 16px;
        padding-right: 16px;
        

    }

}