.footer__list-button {
    padding: 0;
    margin: 0 14px 0 0;

}

.footer__list-button:last-child {
    margin-right: 0;

}

@media screen and (max-width: 320px) {
    .footer__list-button {
        margin-bottom: 32px;
        margin-right: 0;

    }

    .footer__list-button:last-child {
        margin-bottom: 0;

    }
    
}