.footer__list-button {
    padding: 0 0 5px;
    margin: 0 19px 0 0;
    

}

.footer__list-button:last-child {
    margin-right: 0;

}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer__list-button {
        margin-bottom: 32px;
        margin-right: 0;

    }

    .footer__list-button:last-child {
        margin-bottom: 0;

    }

}