.place {
    max-width: 984px;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 48px;
    column-gap: 40px;

}

.place:last-of-type {
    margin-bottom: 0;

}

@media screen and (max-width: 1024px) {
    .place {
        max-width: 928px;
        width: 100%;
        column-gap: 32px;
    
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place {
        max-width: 720px;
        grid-template-columns: repeat(2, minmax(min-content, max-content));
        grid-template-rows: repeat(2, minmax(min-content, max-content));
        column-gap: 28px;
        row-gap: 48px;        
    
    }

}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .place {
        max-width: 288px;
        max-width: 100%;
        margin-bottom: 0px;
        row-gap: 23px;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

}
